@use "./functions" as *;
@use "./settings" as *;

%container {
	--padding-inline-start: 1rem;
	--padding-inline-end: 1rem;
	--vw-unit: 50%;
	padding-inline: max(
			var(--padding-inline-start),
			var(--vw-unit) - var(--container) / 2
		)
		max(var(--padding-inline-end), var(--vw-unit) - var(--container) / 2);

	&-bleed-left {
		--padding-inline-end: 1rem;
		--vw-unit: 50%;
		padding-inline-end: max(
			var(--padding-inline-end),
			(var(--vw-unit) - var(--container) / 2) * 2
		);
	}

	&-bleed-right {
		--padding-inline-start: 1rem;
		--vw-unit: 50%;
		padding-inline-start: max(
			var(--padding-inline-start),
			(var(--vw-unit) - var(--container) / 2) * 2
		);
	}
}

%sr-only {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	margin: -1px;
	border-width: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

%cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

%contain {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
